<nav class="navbar">
    <ul class="nav nav-tabs">
        <li <% if (current == "QA") { %>class="active"<% } %> ><a href="/QA" >Q&amp;A</a></li>
        <li  <% if (current == "login") { %>class="active"<% } %> ><a href="/login" >Sign in</a></li>
        <li <% if (current == "signup") { %>class="active"<% } %> ><a href="/signup">Signup</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
    </ul>
</nav>
