<!DOCTYPE html>
<% include partials/style.ejs %>
<html>
    <head>
        <title> PCC Swarmies </title>
    </head>
    <body>
        <% var current="about" %>
        <h1>PCC Swarmies<small>bulletin board </small></h1>
        <% include partials/navbar.ejs %>
        <p class="lead">
	This site will serve as a simple question and answer system for things relevant to the PCC Swarmathon challenge. Don't use a password you would use for your school accounts. Also use appropriate usernames so that we know how to get in touch with you in person.
        <% include partials/scripts.ejs %>
    </body>
</html>
