<!DOCTYPE html>
<% include partials/style.ejs %>
<html>
    <head>
        <title> PCC Swarmies </title>
    </head>
    <body>
        <% var current="about" %>
        <h1>PCC Swarmies<small>bulletin board </small></h1>
        <% include partials/navbar.ejs %>
        <p class="lead">
	This site will serve as a simple question and answer system for things relevant to the PCC Swarmathon challenge. Don't use a password you would use for your school accounts. Also use appropriate usernames so that we know how to get in touch with you in person.
        </p>
        <p>
        Contact Jamal Ashraf, lead professor, by email at: jjashraf at pasadena dot edu<br>
        Contact site maintainer by email at: eselkin at go dot pasadena dot edu
        </p>
        <a href="http://nasaswarmathon.com/"><img src="/images/swarmies.png"></a><a href="pasadena.edu"><img class="frontPage" width="200px" src="/images/logo-header-white.png"></a>
        <% include partials/scripts.ejs %>
    </body>
</html>
